@{
    ViewBag.Title = "Стартова сторінка";
}

<div class="jumbotron">
    <h1>Успішність студентів</h1>
    <p class="lead">В даному проекті можна створювати групи, додавати студентів, їхні оцінки і відправляти по смс їхню успішність</p>
</div>
