@{
    ViewBag.Title = "Start page";
}

<div class="jumbotron">
    <h1>Student success</h1>
    <p class="lead">In this project, you can create groups, add students and subjects, their mark and send SMS about their success</p>
</div>
